In [1]:
import pandas as pd

# Read all CSV files
accounts_df = pd.read_csv('uploads/accounts.csv')
transactions_df = pd.read_csv('uploads/transactions.csv')
users_df = pd.read_csv('uploads/users.csv')
user_financials_df = pd.read_csv('uploads/user_financials.csv')

# Display basic information about each dataset
print("=" * 80)
print("ACCOUNTS DATA")
print("=" * 80)
print(f"Shape: {accounts_df.shape}")
print(f"\nColumns: {accounts_df.columns.tolist()}")
print(f"\nData types:\n{accounts_df.dtypes}")
print(f"\nFirst 5 rows:")
print(accounts_df.head())
print(f"\nSample statistics:")
print(accounts_df.describe())

print("\n" + "=" * 80)
print("TRANSACTIONS DATA")
print("=" * 80)
print(f"Shape: {transactions_df.shape}")
print(f"\nColumns: {transactions_df.columns.tolist()}")
print(f"\nData types:\n{transactions_df.dtypes}")
print(f"\nFirst 5 rows:")
print(transactions_df.head())
print(f"\nSample statistics:")
print(transactions_df.describe())

print("\n" + "=" * 80)
print("USERS DATA")
print("=" * 80)
print(f"Shape: {users_df.shape}")
print(f"\nColumns: {users_df.columns.tolist()}")
print(f"\nData types:\n{users_df.dtypes}")
print(f"\nFirst 5 rows:")
print(users_df.head())

print("\n" + "=" * 80)
print("USER FINANCIALS DATA")
print("=" * 80)
print(f"Shape: {user_financials_df.shape}")
print(f"\nColumns: {user_financials_df.columns.tolist()}")
print(f"\nData types:\n{user_financials_df.dtypes}")
print(f"\nFirst 5 rows:")
print(user_financials_df.head())
print(f"\nSample statistics:")
print(user_financials_df.describe())

================================================================================
ACCOUNTS DATA
================================================================================
Shape: (50, 5)

Columns: ['id', 'userId', 'accountNo', 'accountType', 'balance']

Data types:
id               int64
userId           int64
accountNo       object
accountType     object
balance        float64
dtype: object

First 5 rows:
   id  userId      accountNo accountType   balance
0   1       1  CUR3342331444     Current  59049.25
1   2       2  CUR7635473142     Current  22044.06
2   3       3  CUR1667779376     Current  95721.31
3   4       4  SAV8429141456     Savings  53622.81
4   5       5  CUR1298737106     Current  66126.33

Sample statistics:
             id    userId      balance
count  50.00000  50.00000     50.00000
mean   25.50000  25.50000  53884.73180
std    14.57738  14.57738  28339.72993
min     1.00000   1.00000    354.57000
25%    13.25000  13.25000  29642.28000
50%    25.50000  25.50000  59471.85500
75%    37.75000  37.75000  79923.72750
max    50.00000  50.00000  97107.84000

================================================================================
TRANSACTIONS DATA
================================================================================
Shape: (1000, 8)

Columns: ['id', 'fromAccountNo', 'ToAccountNo', 'date', 'amount', 'type', 'description', 'userId']

Data types:
id                 int64
fromAccountNo     object
ToAccountNo       object
date              object
amount           float64
type              object
description       object
userId             int64
dtype: object

First 5 rows:
   id  fromAccountNo    ToAccountNo                  date   amount    type  \
0   1  CUR2960488639  CUR3342331444  2025-08-09T01:49:42Z  4008.08  Credit
1   2  BUS8995059760  CUR3342331444  2024-10-11T16:06:48Z  2253.10  Credit
2   3  CUR3342331444  SAV3691864041  2024-05-21T23:12:59Z  1376.61   Debit
3   4  CUR3342331444  CUR1429416213  2024-08-08T08:32:15Z   407.49   Debit
4   5  CUR7076811348  CUR3342331444  2024-04-18T13:56:45Z  1657.75  Credit

       description  userId
0    Internet bill       1
1   Consulting fee       1
2       Restaurant       1
3       Water bill       1
4  Interest credit       1

Sample statistics:
                id      amount       userId
count  1000.000000  1000.00000  1000.000000
mean    500.500000  2536.54994    25.500000
std     288.819436  1440.92780    14.438091
min       1.000000     5.98000     1.000000
25%     250.750000  1351.61750    13.000000
50%     500.500000  2563.04000    25.500000
75%     750.250000  3723.08750    38.000000
max    1000.000000  4997.98000    50.000000

================================================================================
USERS DATA
================================================================================
Shape: (50, 7)

Columns: ['id', 'username', 'password', 'role', 'isActive', 'email', 'phone']

Data types:
id           int64
username    object
password    object
role        object
isActive     int64
email       object
phone        int64
dtype: object

First 5 rows:
   id          username   password  role  isActive  \
0   1     diana_brown_1  Pass1#854  User         1
1   2     maria_smith_2  Pass2#674  User         1
2   3  steve_martinez_3  Pass3#532  User         1
3   4     ahmed_brown_4  Pass4#370  User         1
4   5   hana_williams_5  Pass5#982  User         1

                          email        phone
0     diana_brown_1@example.com  14283170528
1     maria_smith_2@example.com  18162222599
2  steve_martinez_3@example.com  13637856417
3     ahmed_brown_4@example.com  15527064421
4   hana_williams_5@example.com  18339427707

================================================================================
USER FINANCIALS DATA
================================================================================
Shape: (50, 5)

Columns: ['userId', 'occupation', 'monthlyIncome', 'creditScore', 'spendingCategory']

Data types:
userId                int64
occupation           object
monthlyIncome       float64
creditScore           int64
spendingCategory     object
dtype: object

First 5 rows:
   userId         occupation  monthlyIncome  creditScore spendingCategory
0       1             Doctor       20679.28          579         Moderate
1       2              Nurse        9691.21          622         Moderate
2       3         Pharmacist       17214.83          742              Low
3       4  Software Engineer       19051.19          850              Low
4       5        Electrician        9051.73          808         Moderate

Sample statistics:
         userId  monthlyIncome  creditScore
count  50.00000      50.000000     50.00000
mean   25.50000   17455.575000    707.16000
std    14.57738    7248.060329     96.82603
min     1.00000    6025.680000    551.00000
25%    13.25000   12690.767500    622.00000
50%    25.50000   16254.910000    721.50000
75%    37.75000   20422.007500    796.75000
max    50.00000   34839.030000    850.00000